n8n-events-workflow.json
{
  "name": "Peeters Family Calendar - Get Events",
  "nodes": [
    {
      "parameters": {
        "path": "peeters-matt-events",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://peeters-dashboard.newhorizon-it.co.uk"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Matt Events Webhook",
      "webhookId": "peeters-matt-events-wh"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": {
          "__rl": true,
          "value": "AQMkAGJhMzVhZDBlLWE1ZGQALTQ5MGItYWU4MS1iZjgyZjhhYjhlNWQARgAAA-bm_QSXC6NLu6VhZCXd_4UHAM8pV2vN1HxJvRAWsi7gW84AAAIBBgAAAM8pV2vN1HxJvRAWsi7gW84AAAIgtwAAAA==",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "startDateTime": "={{ $json.query.start }}",
          "endDateTime": "={{ $json.query.end }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Matt Outlook Events",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OrL1r8UNeBy5NGXS",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all event items into a single array response\nconst events = $input.all().map(item => ({\n  id: item.json.id,\n  subject: item.json.subject,\n  start: item.json.start,\n  end: item.json.end,\n  isAllDay: item.json.isAllDay,\n  location: item.json.location?.displayName || '',\n  bodyPreview: item.json.bodyPreview || '',\n  categories: item.json.categories || [],\n  importance: item.json.importance || 'normal',\n  calendar: 'matt'\n}));\n\nreturn [{ json: { events } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Format Matt Events"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "https://peeters-dashboard.newhorizon-it.co.uk" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 0],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Respond Matt"
    },
    {
      "parameters": {
        "path": "peeters-family-events",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://peeters-dashboard.newhorizon-it.co.uk"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 220],
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Family Events Webhook",
      "webhookId": "peeters-family-events-wh"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": {
          "__rl": true,
          "value": "AAMkAGJhMzVhZDBlLWE1ZGQtNDkwYi1hZTgxLWJmODJmOGFiOGU1ZABGAAAAAAD25vkElwujS7ulYWQl3fuFBwDPKVdrzdR8Sb0QFrIu4FvOAAAAAAEGAADPKVdrzdR8Sb0QFrIu4FvOAAMVwQT0AAA=",
          "mode": "id"
        },
        "returnAll": true,
        "filters": {
          "startDateTime": "={{ $json.query.start }}",
          "endDateTime": "={{ $json.query.end }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [220, 220],
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Family Outlook Events",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OrL1r8UNeBy5NGXS",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all event items into a single array response\nconst events = $input.all().map(item => ({\n  id: item.json.id,\n  subject: item.json.subject,\n  start: item.json.start,\n  end: item.json.end,\n  isAllDay: item.json.isAllDay,\n  location: item.json.location?.displayName || '',\n  bodyPreview: item.json.bodyPreview || '',\n  categories: item.json.categories || [],\n  importance: item.json.importance || 'normal',\n  calendar: 'family'\n}));\n\nreturn [{ json: { events } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 220],
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Format Family Events"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "https://peeters-dashboard.newhorizon-it.co.uk" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 220],
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Respond Family"
    }
  ],
  "connections": {
    "Matt Events Webhook": {
      "main": [[{ "node": "Matt Outlook Events", "type": "main", "index": 0 }]]
    },
    "Matt Outlook Events": {
      "main": [[{ "node": "Format Matt Events", "type": "main", "index": 0 }]]
    },
    "Format Matt Events": {
      "main": [[{ "node": "Respond Matt", "type": "main", "index": 0 }]]
    },
    "Family Events Webhook": {
      "main": [[{ "node": "Family Outlook Events", "type": "main", "index": 0 }]]
    },
    "Family Outlook Events": {
      "main": [[{ "node": "Format Family Events", "type": "main", "index": 0 }]]
    },
    "Format Family Events": {
      "main": [[{ "node": "Respond Family", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d301ec68fc2c88ddc6d0250ccc26d765719c53d6cf571f29ad85edc32215ff2"
  }
}
